body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .drop-containers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .drop-container {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 2px dashed #ddd;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
  }
  
  .image-container {
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px;
    background-color: white;
  }
  
  #random-photo {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049;
  }
  